    .search_icons{
    border-radius: 50px 50px;
    background-image: url(../img/search.png);
    background-position: 14px 14px;
    background-position-x: 1%;
    background-position-y: 50%;
    background-size: 14px;
    padding-left:30px; 
    background-repeat: no-repeat;
 }