ul{
	list-style-type:none ; 
	display:flex;
}
li{
	margin-right:1.5%;          
}
a{
	font-size: 15px;

}
button:hover{
	border: 1px solid rgb(161, 161, 161);
	color:black;
}
div.color4{
	border: 1px solid #f2f2f2;
	background-color: #f2f2f2;
	color: #5F6368;
	text-decoration: none;
}
button.color{
	margin-left: 3px;
	width: auto;
	height: 36px;
	border: 1px solid #f2f2f2;
	background-color: #f2f2f2;
	color: #5F6368;
	font-size:14px;
	border-radius: 10px; 
}
a.color:link{
	text-decoration: none;
	color:black;
}
a.color:visited{
	text-decoration: none;
	color:black;
}
a.color:hover{
	text-decoration: underline;
	color:grey;
}
